#file_bar {
    list-style-type: none;
    width : 78vw;
    margin : 0;
    padding: 0;
    overflow: hidden;
    background-color: #0f2744;
    display: inline-block;
}
div {
    padding:0;
    margin: 0;
}

#file_bar > li {
    display: block;
    float: left;
    padding: 0;
    margin : 0;
}
#file_bar > li > a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    margin : 0;
}
#file_bar > li > a:hover {
    background-color: #555;
    color:white;
}